<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Trader | Deal without cash</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { 
             padding-top:50px; 
            }
   .navbar, .well  {background-color:#ADFF2F;color:#000;}
   .well {
           font-family:"Lucida Console",Monaco,monospace;
           padding: 19px;margin: 4px;
           text-align: center; 
           box-shadow: 0 8px 6px -2px grey; border:none;}
   .well a:hover {}
   .container {background-color:#E6E6FA;}
   .jumbotron {background-color: #228B22;color:#000;text-align:center;}
</style>
