<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h1>Trader</h1>
                    <p>Buy and Sell..like we used to..</p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h2>About Us</h2>
                     <h4>Don't have cash to buy what you want?</h4>
                      <h3>Barter it!</h3>
                    <p>Here,at Trader,we believe that low cash flow should not hinder business.</p>
                    <p>If you have an item that can be readily evaluated for worth,use that to get another item of your desire!</p>
                     <p>Just like in the 'good-ol-days',trade by barter!</p>
                     <p>Register.Post your item.Connect with interested party.Trade.Easy!</p>
                  
                    <h4>Contact Us</h4>
                   <form>
                   <input type="email" placeholder="you@email.com" />
                   <button type="button" class="btn btn-info">Reach Out</button>
                   </form>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
